
h2{
    color:265073;
    font-family: "Anton", sans-serif;
}
p,li{
    font-family: "Varela Round", sans-serif;
}
#info{
    font-family: "Pacifico", cursive;
    color: 070F2B;
}
#name{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color:1B1A55;
    
}
.nam{
    border: 0px solid ;
    height: 35px;
    width:1215px;
    position: fixed;
    width: 100%;
    left: 10px;
    z-index: 10;
    background-color: 265073;
    
}
.nam>p{
    text-align: center;
    color: bisque;
    
    
}
#value{
    position: relative;
    top:50px;
    
}

.row{
    margin: 10px;
    padding: 25px 16%;
    border: 2px solid rgb(44, 44, 87);
    border-radius: 28px;
    background: #9dd0e5;
    transition: all .50s ease;
}
.row:hover{
    background: #22282f;
    color: beige;
    h2{
        color: white;
    }
    box-shadow: 0 0 20px #9dd0e5;
    transform: translateY(-3px) scale(1.03);

}
.main{
    padding: 20px 16%;
    border: 2px solid none;
    border-radius: 20px;
    align-items: center;
}
.main:hover{
    box-shadow: 0 0 20px white;

}
